tests/fixtures/programas-governo/*.pdf binary
tests/fixtures/pesquisas-distribuicao/documentos/realtime-para.pdf binary
tests/fixtures/pesquisas-distribuicao/documentos/realtime-rs.pdf binary
tests/fixtures/pesquisas-distribuicao/documentos/realtime-ms.pdf binary
