<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- instalar-agente.sh substitui os marcadores e grava em ~/Library/LaunchAgents. -->
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>br.com.puxaficha.ingest-tse</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>__SCRIPT__</string>
    <string>__REPO__</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Weekday</key>
    <integer>__WEEKDAY__</integer>
    <key>Hour</key>
    <integer>__HOUR__</integer>
    <key>Minute</key>
    <integer>__MINUTE__</integer>
  </dict>
  <key>RunAtLoad</key>
  <false/>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>__LOG__</string>
  <key>StandardErrorPath</key>
  <string>__LOG__</string>
</dict>
</plist>
